.addmovie {
  position: fixed;
  top: 130px;
  left: 50px;
}
.container-movies {
  background-color: rgb(57, 49, 179) !important;
  height: 100%;
}
.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
